.container {
  background: white;
  padding: 0.25rem;
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
}

.pivot {
  color: white;
  border-radius: 999px;
  padding-inline: 0.75rem;
}

.barsContainer {
  display: flex;
  gap: 1px;
}

.bar {
  width: 2px;
  height: 1rem;
  background: #333;
}

.orange {
  background: #ff6b30;
}

.complete {
  animation: bounce 2s linear infinite;
  background: rgb(202, 137, 255);
}

@keyframes bounce {
  0% {
    translate: 0 0;
  }

  10% {
    translate: 0 0.15rem;
  }

  30% {
    translate: 0 -0.15rem;
  }

  40% {
    translate: 0 0;
  }
}
